
.dashboard {
    padding: 20px;
}

.stat-card, .top-card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.stat-card .MuiCardContent-root, .top-card .MuiCardContent-root {
    background-color: #fff8e1;
}

.stat-card h5, .top-card h6 {
    font-weight: 500;
    color: #333;
}

.stat-card h6 {
    font-weight: 700;
    background-color: #b2ebf2;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;

}

.chart-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffeb7829;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.MuiCardContent-root {
    text-align: center;
}

.chart-container h6, .chart-container p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.top-card ul {
    list-style-type: none;
    padding: 0;
}

.top-card ul li {
    margin: 10px 0;
    font-size: 16px;
}

.top-card h6, .top-card p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.top-card ul {
    font-weight: bold;
}

.chart-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container canvas {
    max-height: 300px;
}


.inapoi-pe-homepage2{
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    background-color:#b2ebf2;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    border: 4px solid #fff8e1;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.titlu-dashboard{
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30px;
}