.loading-popup img{
    width: 100px;
    height: 100px;
    margin-left: 330px;
    margin-top: 50px;
}

.popup-mesaj p{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 200;
}

#emailInput{
    width: 50%;
}