.modal-container {
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .modal-content  {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 300px;
    height: 300px;
  }
  
  .modal-container button{
    background-color: #e1c84a;
    color: #000000;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    width: fit-content;
    margin-left: 45%;
  }
  
  .modal-container h2{
  text-align: center;
  margin-top: 40px;
  }
  
  .modal-container .password-reset{
    display: flex;
    flex-direction: column;
  align-items: center;}
  
  .modal-container .password-reset button{
    margin-top: 30px;
    margin-left: 0%;
  }

  .loading-popup img{
    width: 100px;
    height: 100px;
    margin-left: 330px;
    margin-top: 50px;
}

.popup-mesaj p{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 200;
}